
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;
    background-color: rgb(245, 242, 245);
    margin: 0;
    

}
/* main{
    display: flex;
    flex-direction: column;
    background-color: olive;
    width: 100%;
} */
.nav-section{
    width: 1250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}
.nav-bar{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}
#space{
    margin-right: 30px;
}
.influencer-product{
    margin-left: 80px;
}
.container{
    display: flex;
    width: 1250px;
    margin-top: 40px;
    margin-bottom: 100px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.influencer-journey{
    width: 600px;
    
}

.influencer-title{
    font-size: 60px;
    font-weight: 700;
}


.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    padding-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
#collection{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.influencer-dream-product{
    margin-left: 200px;
    margin-top: 50px;
}
.popular-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 1045px;
    
   
}
.product{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 5px 5px 20px rgb(124, 122, 122);
}
.product-title{
    font-size: 30px;
}
.price{
    font-size: 20px;
    font-weight: 700;
    color: rgb(85, 52, 52);
}
.fas{
    color: orange;
}
.rating span{
    font-weight: 700;
    color: rgb(116, 112, 112);
}
.info{
    font-weight: 700;
    color: rgb(107, 98, 98);
}
.right-button{
    text-align: right;
}
.button2{
    text-align: center;
    text-decoration: none;
    color: orange;
    font-size: 24px;
    font-weight: 500;
    
    
}
.feature-item{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
   

}
.item-banner img{
    width: 500px;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
}
.item-title{
    font-size: 40px;
    font-weight: 700;
}

.item-details{
    width: 700px;
    margin-left: 100px;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(49, 49, 58);
    color: white;
    text-align: center;
    
    
}

.far{
    color: orange;
}
/* ------------------ */
/* @media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player, .blog{
        flex-direction: column;
    }
    /* .blogs{
        grid-template-columns: repeat(1, 1fr);
    } */

@media only screen and (max-width:688px) {
    main{
        width: 300px;
    }
    .nav-section{
       display: flex;
       flex-direction: column;
       justify-content: center;
        width: 200px;
    }
    .nav-bar{
        display: none;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        
    }
    .influencer-journey{
        width: 300px;
    }
    .influencer-dream-product img{
        width: 250px;
    }
    .container-2{
        width: 300px;
    }
    .popular-products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-item{
        display: flex;
        flex-direction: column;
        width: 360px;
    }
    .item-banner img{
        width: 320px;
        
    }
    .item-details{
        width: 300px;
        margin-left: 5px;
    }
    
}


@media only screen and (min-width:688px) and (max-width:992px) {
    main{
        width: 800px;
    }
    .nav-section{
        width: 800px;
    }
    .nav-bar{
        display: none;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container-2{
        width: 700px;
    }
    .popular-products{
        width: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-column-gap: 30px;
    }
    .feature-item{
        display: flex;
        flex-direction: column;
        
    }
    .item-details{
        margin: 0;
    }
    
}