
body{
    display: grid;
    justify-content: center;
    background-color: whitesmoke;
    

}
main{
    display: flex;
    flex-direction: column;
}
.nav-section{
    /* width: 80%; */
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.container{
    display: flex;
    width: 1200px;
    margin-top: 40px;
}
main{
    display: flex;
    justify-content: center;
}
.influencer-journey{
    width: 500px;
}
.influencer-journey{
    margin-top: 40px;
}
.influencer-title{
    font-size: 60px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: orange;
    height: 40px;
    width: 200px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
}
.influencer-dream-product{
    margin-left: 200px;
}
.product{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: ;
}