
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-content: center;
    background-color: rgb(245, 242, 245);
    margin: 0;
    

}
main{
    display: flex;
    flex-direction: column;
    /* background-color: olive; */
    width: 100%;
}
.nav-section{
    /* width: 80%; */
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.influencer-product{
    margin-left: 80px;
}
.container{
    display: flex;
    width: 1250px;
    margin-top: 40px;
    margin-bottom: 100px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.influencer-journey{
    width: 600px;
    
}

.influencer-title{
    font-size: 60px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    padding-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.container-2 h2{
    text-align: center;
    margin-bottom: 40px;
}
.influencer-dream-product{
    margin-left: 200px;
    margin-top: 50px;
}
.popular-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 1045px;
    
   
}
.product{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 5px 5px 40px rgb(100, 99, 99);
}
.right-button{
    text-align: right;
}
.button2{
    text-align: center;
    text-decoration: none;
    color: orange;
    font-size: 18px;
    font-weight: 700;
    
}
.feature-item{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
   

}
.item-banner img{
    width: 500px;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
}
.item-details{
    width: 700px;
    margin-left: 100px;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(49, 49, 58);
    color: white;
    text-align: center;
    
    
}

.far{
    color: orange;
}
/* .icon{
    margin-right: 30px;
} */